html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    height: 100vh;
    background: url(/BG.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #800080;
    font-weight: bold;
    font-size: 26px;
}

nav {
    position: fixed;
    width: 100%;
    z-index:200;
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #800080;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color:  #800080;
    font-size: 20px;
}

.header-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #800080;
    transition: width .3s;
}

.header-links-white::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.header-links:hover::after, .header-links-white:hover::after {
    width: 100%;
    transition: width .3s;
}

.menu-icon {
    width: 100%;
    background: #800080;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.scrolled {
    color: #fff;
}

.img-mainlogo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
    width: 400px;
}

.offer-container {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-90%);
}

.offer {
    width: 300px;
    height: 100%;
    margin: 0 40px;
    padding: 0 10px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    border: 0;
    border-radius: 20px;
}

.offer-icon {
    color: #800080;
    font-size: 40px;
    width: 100%;
    margin-top: 20px;
}

.offer-text {
    margin-top: -20px;
    line-height: 20px;
}

@media(max-width: 900px) {
    .logo {
        position: fixed;
        top: 16px;
        margin-top: 0;
        color: #fff;
    }

    nav ul {
        max-height: 0px;
        background: #800080;
    }

    nav.black ul {
        background: #800080;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
    }

    .content {
        font-size: 16px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

}







